<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <img style="width:65px;" src="../../assets/IT-FRAME.png" alt="logo" />
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#myNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="myNav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a href="#" class="nav-link home">Home</a>
        </li>
        <li class="nav-item">
          <a href="#feature" class="nav-link" data-target="#feature"
            >Features</a
          >
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link" data-target="#about">About</a>
        </li>
        <li class="nav-item">
          <a href="#service" class="nav-link" data-target="#service"
            >Services</a
          >
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link" data-target="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="slider d-flex">
  <div class="overlay"></div>
  <div class="container">
    <div
      class="info d-flex flex-column h-100 align-items-start justify-content-center"
    >
      <h1 class="font-weight-bold wow bounceIn animated">Welcome to IT Frame</h1>
      <p class="wow bounceIn animated">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout the readable
        content of a page when looking at its layout
      </p>
     
    </div>
  </div>
</section>
<section id="feature" class="feature text-center">
  <div class="container">
    <h2
      class="main-header wow fadeIn animated"
      data-wow-duration="2s"
      data-wow-offset="60"
    >
      Our Features
    </h2>
    <p
      class="main-p wow fadeIn animated text-center"
      data-wow-duration="2s"
      data-wow-offset="60"
    >
      Free Fully Responsive HTML5 Bootstrap Template Crafted with love by the
      fine folks Crafted
    </p>
    <div class="row">
      <div
        class="col-sm-6 col-lg-3 mb-5 wow zoomIn animated"
        data-wow-duration="1s"
        data-wow-offset="100"
      >
        <div class="box">
          <i class="fa fa-crop fa-2x fa-fw" aria-hidden="true"></i>
          <div class="f-info">
            <h5>Fully Responsive</h5>
            <p>
              Far far away behind the word mountains far from the countries
              there live the blind texts Separated they live in Bookmarks grove
              right at the coast Far
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-sm-6 col-lg-3 mb-5 wow zoomIn animated"
        data-wow-duration="1s"
        data-wow-offset="120"
      >
        <div class="box">
          <i class="fa fa-bullhorn fa-2x fa-fw" aria-hidden="true"></i>
          <div class="f-info">
            <h5>Marketing</h5>
            <p>
              Far far away behind the word mountains far from the countries
              there live the blind texts Separated they live in Bookmarks grove
              right at the coast Far
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-sm-6 col-lg-3 mb-5 wow slideInRight animated"
        data-wow-offset="120"
        data-wow-duration="1s"
      >
        <div class="box">
          <i class="fa fa-heart fa-2x fa-fw" aria-hidden="true"></i>
          <div class="f-info">
            <h5>Made with Love</h5>
            <p>
              Far far away behind the word mountains far from the countries
              there live the blind texts Separated they live in Bookmarks grove
              right at the coast Far
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-sm-6 col-lg-3 mb-5 wow slideInRight animated"
        data-wow-offset="120"
        data-wow-duration="1s"
      >
        <div class="box">
          <i class="fa fa-heart fa-2x fa-fw" aria-hidden="true"></i>
          <div class="f-info">
            <h5>Made with Love</h5>
            <p>
              Far far away behind the word mountains far from the countries
              there live the blind texts Separated they live in Bookmarks grove
              right at the coast Far
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about" class="about">
  <div class="container">
    <h2
      class="main-header text-center wow bounceIn animated"
      data-wow-duration="1s"
      data-wow-offset="60"
    >
      About US
    </h2>
    <p
      class="main-p text-center wow bounceIn animated"
      data-wow-duration="1s"
      data-wow-offset="60"
    >
      Free Fully Responsive HTML5 Bootstrap Template Crafted with love by the
      fine folks Crafted
    </p>
    <div class="row">
      <div
        class="col-lg mb-5 wow slideInLeft"
        data-wow-duration="1s"
        data-wow-offset="80"
      >
        <div class="img">
          <img
            src="https://image.ibb.co/mnQmHc/about.jpg"
            class="img-fluid d-block w-100"
            alt="About Images"
          />
        </div>
      </div>
      <div
        class="col-lg wow slideInRight animated"
        data-wow-duration="1s"
        data-wow-offset="80"
      >
        <h5 class="mt-2">Who We Are ?</h5>
        <p class="mb-4">
            We are dealing with  UI / UX design, Web and Mobile development, IT Management. Our programmers follow developments and innovations in IT, trying to go with the times. And in order to share their knowledge, we also have different training programs in various programming areas from time to time. We are always honest and fair with those who want to work with us and our goal is to be one of the best in programming, thus making our country more competitive in the international IT market. 

        </p>
        <h5>What We Offer ?</h5>
        <p class="mb-4">     

        </p>
        <div class="row">
        <div class="col">
        <ol class="list-unstyled">
        <li>
        <i class="fa fa-check fa-fw" aria-hidden="true"></i>
        <span>Clean code</span>
        </li>
        <li>
        <i class="fa fa-check fa-fw" aria-hidden="true"></i>
        <span>Individual aproach</span>
        </li>
    
        </ol>
        </div>
        <div class="col">
        <ol class="list-unstyled">
        <li>
        <i class="fa fa-check fa-fw" aria-hidden="true"></i>
        <span>Reliable service</span>
        </li>
        <li>
        <i class="fa fa-check fa-fw" aria-hidden="true"></i>
        <span>Friandly atmosphere</span>
        </li>
     
        </ol>
        </div>
        </div>
     
      </div>
    </div>
  </div>
</section>
<section id="service" class="service">
  <div class="container">
    <h2
      class="main-header text-center wow bounceIn animated"
      data-wow-duration="1s"
      data-wow-offset="60"
    >
      Our Services
    </h2>
    <p
      class="main-p text-center wow bounceIn animated"
      data-wow-duration="1s"
      data-wow-offset="60"
    >
      Free Fully Responsive HTML5 Bootstrap Template Crafted with love by the
      fine folks Crafted
    </p>
    <div class="row">
      <div
        class="col-sm-6 col-lg-4 col-xl-3 mb-5 wow zoomInLeft animated"
        data-wow-duration="1.5s"
        data-wow-offset="70"
      >
        <div class="box">
          <i class="fa fa-mobile fa-3x fa-fw" aria-hidden="true"></i>
          <h5>Mobile Design</h5>
          <p>
            Far Far Away Behind The Word Mountains Far From The Countries There
            Live The Blind Texts Separated Crafted with love
          </p>
          <a href="#" class="btn btn-info btn-sm">Ream More</a>
        </div>
      </div>
      <div
        class="col-sm-6 col-lg-4 col-xl-3 mb-5 wow zoomInUp animated"
        data-wow-duration="1.5s"
        data-wow-offset="70"
      >
        <div class="box">
          <i class="fa fa-code fa-3x fa-fw" aria-hidden="true"></i>
          <h5>Clean Code</h5>
          <p>
            Far Far Away Behind The Word Mountains Far From The Countries There
            Live The Blind Texts Separated Crafted with love
          </p>
          <a href="#" class="btn btn-info btn-sm">Ream More</a>
        </div>
      </div>
      <div
        class="col-sm-6 col-lg-4 col-xl-3 mb-5 wow zoomInDown animated"
        data-wow-offset="70"
        data-wow-duration="1.5s"
      >
        <div class="box">
          <i class="fa fa-tablet fa-3x fa-fw" aria-hidden="true"></i>
          <h5>Tablet Design</h5>
          <p>
            Far Far Away Behind The Word Mountains Far From The Countries There
            Live The Blind Texts Separated Crafted with love
          </p>
          <a href="#" class="btn btn-info btn-sm">Ream More</a>
        </div>
      </div>
      <div
        class="col-sm-6 col-lg-4 col-xl-3 mb-5 wow zoomInRight animated"
        data-wow-duration="1.5s"
        data-wow-offset="80"
      >
        <div class="box">
          <i class="fa fa-ge fa-3x fa-fw" aria-hidden="true"></i>
          <h5>JQuery Design</h5>
          <p>
            Far Far Away Behind The Word Mountains Far From The Countries There
            Live The Blind Texts Separated Crafted with love
          </p>
          <a href="#" class="btn btn-info btn-sm">Ream More</a>
        </div>
      </div>
      <div
        class="col-sm-6 col-lg-4 col-xl-3 mb-5 wow zoomInLeft animated"
        data-wow-duration="1.5s"
        data-wow-offset="90"
      >
        <div class="box">
          <i class="fa fa-support fa-3x fa-fw" aria-hidden="true"></i>
          <h5>Full Support</h5>
          <p>
            Far Far Away Behind The Word Mountains Far From The Countries There
            Live The Blind Texts Separated Crafted with love
          </p>
          <a href="#" class="btn btn-info btn-sm">Ream More</a>
        </div>
      </div>
      <div
        class="col-sm-6 col-lg-4 col-xl-3 mb-5 wow zoomInDown animated"
        data-wow-duration="1.5s"
        data-wow-offset="90"
      >
        <div class="box">
          <i class="fa fa-ge fa-3x fa-fw" aria-hidden="true"></i>
          <h5>CSS3 Design</h5>
          <p>
            Far Far Away Behind The Word Mountains Far From The Countries There
            Live The Blind Texts Separated Crafted with love
          </p>
          <a href="#" class="btn btn-info btn-sm">Ream More</a>
        </div>
      </div>
      <div
        class="col-sm-6 col-lg-4 col-xl-3 mb-5 d-lg-none d-xl-block wow zoomInUp animated"
        data-wow-duration="1.5s"
        data-wow-offset="90"
      >
        <div class="box">
          <i class="fa fa-html5 fa-3x fa-fw" aria-hidden="true"></i>
          <h5>HTml5 Design</h5>
          <p>
            Far Far Away Behind The Word Mountains Far From The Countries There
            Live The Blind Texts Separated Crafted with love
          </p>
          <a href="#" class="btn btn-info btn-sm">Ream More</a>
        </div>
      </div>
      <div
        class="col-sm-6 col-lg-4 col-xl-3 mb-5 d-lg-none d-xl-block wow zoomInRight animated"
        data-wow-duration="1.5s"
        data-wow-offset="90"
      >
        <div class="box">
          <i class="fa fa-wordpress fa-3x fa-fw" aria-hidden="true"></i>
          <h5>Wordpress Design</h5>
          <p>
            Far Far Away Behind The Word Mountains Far From The Countries There
            Live The Blind Texts Separated Crafted with love
          </p>
          <a href="#" class="btn btn-info btn-sm">Ream More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="count">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div
        class="col-6 col-lg-3 mb-5 wow fadeIn animated"
        data-wow-duration="2s"
        data-wow-offset="60"
      >
        <div class="media">
          <i
            class="fa fa-check-square-o fa-2x fa-fw mr-3"
            aria-hidden="true"
          ></i>
          <div class="media-body">
            <span class="timer" data-from="25" data-to="250" data-speed="10000"
              >250</span
            >
            <p>Project Done</p>
          </div>
        </div>
      </div>
      <div
        class="col-6 col-lg-3 mb-5 wow fadeIn animated"
        data-wow-duration="2s"
        data-wow-offset="60"
        data-wow-delay="1s"
      >
        <div class="media">
          <i class="fa fa-smile-o fa-2x fa-fw mr-3" aria-hidden="true"></i>
          <div class="media-body">
            <span
              class="timer"
              data-from="200"
              data-to="625"
              data-speed="10000"
              >625</span
            >
            <p>Happy Clients</p>
          </div>
        </div>
      </div>
      <div
        class="col-6 col-lg-3 mb-5 wow fadeIn animated"
        data-wow-duration="2s"
        data-wow-offset="60"
        data-wow-delay="2s"
      >
        <div class="media">
          <i
            class="fa fa-hourglass-start fa-2x fa-fw mr-3"
            aria-hidden="true"
          ></i>
          <div class="media-body">
            <span
              class="timer"
              data-from="100"
              data-to="350"
              data-speed="10000"
              >350</span
            >
            <p>Hours OF Works</p>
          </div>
        </div>
      </div>
      <div
        class="col-6 col-lg-3 mb-5 wow fadeIn animated"
        data-wow-duration="2s"
        data-wow-offset="60"
        data-wow-delay="3s"
      >
        <div class="media">
          <i class="fa fa-coffee fa-2x fa-fw mr-3" aria-hidden="true"></i>
          <div class="media-body">
            <span class="timer" data-from="25" data-to="422" data-speed="10000"
              >422</span
            >
            <p>Cup OF Coffee</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="contact">
  <div class="container">
    <h2
      class="main-header text-center wow bounceIn animated"
      data-wow-duration="2s"
      data-wow-offset="60"
    >
      Contact Us
    </h2>
    <p
      class="main-p text-center mb-5 wow bounceIn animated"
      data-wow-duration="2s"
      data-wow-offset="60"
    >
      Free Fully Responsive HTML5 Bootstrap Template Crafted with love by the
      fine folks Crafted
    </p>
    <div class="box-contact">
      <div class="row mt-5">
        <div
          class="col-md mb-4 wow fadeIn animated"
          data-wow-duration="2s"
          data-wow-offset="80"
        >
          <i class="fa fa-mobile fa-2x fa-fw" aria-hidden="true"></i>
          <p>+966 595898913</p>
        </div>
        <div
          class="col-md mb-4 wow fadeIn animated"
          data-wow-duration="2s"
          data-wow-offset="80"
        >
          <i class="fa fa-mail-reply fa-2x fa-fw" aria-hidden="true"></i>
          <p>mamounadil90@gmail.com</p>
        </div>
        <div
          class="col-md wow fadeIn animated"
          data-wow-duration="2s"
          data-wow-offset="80"
        >
          <i class="fa fa-clock-o fa-2x fa-fw" aria-hidden="true"></i>
          <p>Mon - Fri 09:00 – 18:00</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="form">
      <div class="row">
        <div
          class="col-lg wow slideInLeft animated"
          data-wow-duration="1s"
          data-wow-offset="100"
        >
          <form>
            <div class="form-group">
              <input
                type="text"
                name="user"
                class="form-control"
                placeholder="Your Name"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Your Email"
              />
            </div>
            <textarea
              class="form-control form-group"
              placeholder="Message"
              rows="10"
            ></textarea>
            <button type="submit" class="btn btn-danger">
              <i class="fa fa-send fa-fw mr-1"></i>Send Message
            </button>
          </form>
        </div>
        <div
          class="col-lg mt-5 mt-lg-0 wow slideInRight animated"
          data-wow-offset="100"
          data-wow-duration="1s"
        >
          <!-- <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d206895.51268692018!2d32.443870044203074!3d15.516659850769901!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x168e8fde9837cabf%3A0x191f55de7e67db40!2sKhartoum%2C+Sudan!5e0!3m2!1sen!2ssa!4v1519810676490"
            height="400"
            frameborder="0"
            style="border:0; width:100%"
            allowfullscreen
          ></iframe> -->
          <agm-map [zoom]="8"  [latitude]="lat" [longitude]="lng">
              <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <span
    ><sup>&copy;</sup> 2018 CopyRight All Right Reversed For ITFrame LLC</span
  >
</footer>
<section class="top"><i class="fa fa-arrow-up" aria-hidden="true"></i></section>
<section class="loading">
  `
  <div class="spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</section>
